// app global css in SCSS form

.my-menu-link {
  border-right: none;
  border-left: 3px solid;
  border-left-color: #2196f3;
  background-color: #f0f0f0 !important;
  color: #494949;
  border-radius: 4px;
}

.add-button .q-icon {
  margin-left: 1px;
  margin-right: 5px;
}

.q-table tr {
  padding: 10px 0;
}
.q-table th {
  font-weight: 600;
  font-size: 12px;
  background-color: #dff1ff;
}

.q-table__sort-icon--left,
.q-table__sort-icon--right,
.q-table__sort-icon--center {
  color: #2196f3;
  font-size: 16px;
}

.q-table--horizontal-separator thead th,
.q-table--horizontal-separator tbody tr:not(:last-child) > td,
.q-table--cell-separator thead th,
.q-table--cell-separator tbody tr:not(:last-child) > td {
  border: none;
}
